*{
    margin: 0;
    padding: 0;
}
header{
    background: url("images/header.jpg") ;

    padding: 30px;
    margin: 0;
}
header h1{
    text-align: center;
    color: white;
}
body{
    margin: 0;
}

div.content{
    width: 50%;
    float: left;
    padding-left: 80px;
}



article img{
    width: 100%;
    padding: 10px;


}
article p {
font-size: 14px;
    width: 100%;
    text-align: justify;
    padding: 10px;

}
article h1{
    padding: 10px;
    margin-top: 35px;

}
aside{
    width: 40%;
    float: right;
    padding: 10px;


}
aside h1{
    padding-bottom: 10px;
    margin-top: 35px;
    margin-left: 10px;
}
aside img{
    width: 65%;
    padding: 10px;
    margin: 33px 0 5px 0;



}
aside p{
    width: 65%;
    padding: 10px;




}
.content button{
    background: white;
    color: red;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;


}
.content button:hover{
    color: white;
    background: red;
}