

body {
    font-family: 'Lato', sans-serif;
    background: url("plan-page.jpg");
    width: 1180px;
    font-size: 16px;
    margin: auto;
    background-size: cover;
}

section {

    text-align: center;

}

article {
    display: inline-block;
    margin: 80px 20px 0 20px;
    border: 5px solid #424242;
    Color: #a1a1a1;
    width: 23%;

    background-color: #262626;
}

article h1 {
    font-size: 1.5em;
    color: #ffffff;
}

article .price {
    font-size: 3em;
    font-weight: bold;
    color: #26C5BC;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px 0;
}

button {
    background: #27dcc4;
    color: #ffffff;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

button:hover {
    background: #ACACAC;
}