@import url('https://fonts.google.com/selection?selection.family=Lato');

header {
    padding: 30px 20px 0;
}

body {
    margin: 0;
    font: 16px 'Lato', sans-serif;
    color: white;
    background-color: #24437C;
}

header nav img {
    float: left;
    width: 120px;
    padding: 20px;
}

header nav ul {
    float: right;
    padding: 10px;
}

.nav-item {
    display: inline-block;

}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 12px;
    text-transform: capitalize;
}

.nav-item:last-child {
    background-color: rgba(70, 210, 250, 0.8);
    border-radius: 8px;
    padding: 10px 15px;
}

h1 {
    text-align: center;
    padding: 130px 130px 0 130px;
    color: white;
    text-transform: capitalize;
    font-weight: lighter;
    margin: 0;
    font-size: 50px;

}

.header-subtitle {
    text-align: center;
    color: #385978;
    text-transform: capitalize;
}

#button-container {
    text-align: center;
    text-transform: capitalize;
    width: 120px;
    border-radius: 10px;
    padding: 7px;
    background-color: #3DC1EF;
    margin: auto;

}



.header-services {
    margin: 40px 120px;
    padding: 0;
    text-align: center;
}

.service {
    width: 25%;
    display: inline-block;
    padding: 45px 20px 30px;
    margin: 0 20px;
    text-align: left;
}

.service:hover {
    background-color: rgba(70, 210, 250, 0.8);
    cursor: pointer;
    color: white;
}

.service-title {
    padding: 0 20px;
    margin-bottom: 30px;
}

.service-intro {
    font-size: 16px;
    text-align: justify;
}

.service-link {
    text-decoration: none;
    display: block;
    margin-top: 30px;
    color: #ffffff;
}