body {

    width: 1000px;
    margin: 0 auto;
    background-color: #CACAC9;
    text-align: center;
    padding: 0;

}

header {

    background-color: white;
    margin: 0 auto;
    width: 100%;
}

ul {
    text-align: left;
    margin: 43px 0 30px;
}

header nav ul li {
    display: inline-block;
    padding: 25px 5px;

}

li:hover {
    color: red;
    cursor: pointer;
}

main {
    width: 1000px;
}

article {

    display: inline-block;
    vertical-align: top;
    margin: 0 9px;

}
article:hover{
    opacity: 0.7;
    cursor: pointer;
}

img {
    width: 229px;
    height: 180px;
    border-bottom: 2px solid #CACACA;
}

h3, p {
    width: 229px;
    background-color: white;
    margin: 0;
    height: 60px;

}